.cell-align-right {
  text-align: right;
}

.mat-column-date {
  width: 128px;
}

.mat-column-category {
  width: 256px;
}

.mat-column-category div {
  display: flex;
  align-items: center;
}
.mat-column-category-icon {
  margin-right: 20px;
  display: flex;

  > svg {
    // height: 20px;
    // width: 20px;
  }
}
.mat-column-category-text {
  line-height: 24px;
  display: flex;
}

tr.mat-row, tr.mat-footer-row {
  height: 54px;
}