<section class="o-block o-block--right u-margin-bottom-small">
  <button mat-button color="accent" class="u-margin-right-small">
    <mat-icon class="u-margin-right-tiny">search</mat-icon>
    Szukaj</button>
  <button mat-button color="accent" [matMenuTriggerFor]="filterMenu" class="u-margin-right-small">
    <mat-icon class="u-margin-right-tiny">filter_list</mat-icon>
    Filtruj</button>
  <mat-menu #filterMenu="matMenu">
    <button mat-menu-item>Wszystkie</button>
    <button mat-menu-item>Wydatki</button>
    <button mat-menu-item>Przychody</button>
  </mat-menu>
  <button mat-button color="accent" [matMenuTriggerFor]="sortMenu" class="u-margin-right-small">
    <mat-icon class="u-margin-right-tiny">swap_vert</mat-icon>
    Sortuj</button>
  <mat-menu #sortMenu="matMenu">
    <button mat-menu-item>Data</button>
    <button mat-menu-item>Kategoria</button>
    <button mat-menu-item>Odbiorca</button>
    <button mat-menu-item>Kwota</button>
  </mat-menu>
</section>