<!-- <section class="o-block o-block--right u-margin-bottom-small">
  <button mat-button color="accent" class="u-margin-right-small">
    <mat-icon class="u-margin-right-tiny">search</mat-icon>
    Szukaj</button>
  <button mat-button color="accent" [matMenuTriggerFor]="filterMenu" class="u-margin-right-small">
    <mat-icon class="u-margin-right-tiny">filter_list</mat-icon>
    Filtruj</button>
  <mat-menu #filterMenu="matMenu">
    <button mat-menu-item>Wszystkie</button>
    <button mat-menu-item>Wydatki</button>
    <button mat-menu-item>Przychody</button>
  </mat-menu>
  <button mat-button color="accent" [matMenuTriggerFor]="sortMenu" class="u-margin-right-small">
    <mat-icon class="u-margin-right-tiny">swap_vert</mat-icon>
    Sortuj</button>
  <mat-menu #sortMenu="matMenu">
    <button mat-menu-item>Data</button>
    <button mat-menu-item>Kategoria</button>
    <button mat-menu-item>Odbiorca</button>
    <button mat-menu-item>Kwota</button>
  </mat-menu>
</section> -->

<section>
  <form [formGroup]="filterForm" class="u-text-normal">
    <div class="o-grid">

      <div class="o-grid__cell u-1/2" *ngIf="categories$ | async as categories">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Kategoria</mat-label>
          <mat-select formControlName="category" [attr.data-name]="'category'" tabindex="-1">
            <mat-select-trigger>
              <div class="c-select-trigger">
                <bh-category-icon class="c-category__icon" [category]="categoryControl.value.name"></bh-category-icon>
                <span class="c-category__text">{{ 'BUDGET_CATEGORY.' + categoryControl.value.name | translate }}</span>
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let category of categories" [value]="category">
              <div class="c-category">
                <bh-category-icon class="c-category__icon" [category]="category.name"></bh-category-icon>
                <span class="c-category__text">{{ 'BUDGET_CATEGORY.' + category.name | translate }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="o-grid__cell u-1/2" *ngIf="periods$ | async as periods">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Okres</mat-label>
          <mat-select formControlName="period" [attr.data-name]="'period'" tabindex="-1">
            <mat-select-trigger>
              <div class="c-select-trigger">
                {{ 'QUERY.Periods.' + periodControl.value.name | translate }}
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let period of periods" [value]="period">
              <div class="c-period">
                <span class="c-period__text">{{ 'QUERY.Periods.' + period.name | translate }}</span>
                <span *ngIf="period.id === 'currentMonth'">&nbsp;({{ currentMonth }})</span>
                <span *ngIf="period.id === 'previousMonth'">&nbsp;({{ previousMonth }})</span>
                <span *ngIf="period.id === 'currentYear'">&nbsp;({{ currentYear }})</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

  </form>
</section>