<app-main-component>

  <div class="c-section-header">
    <div class="o-wrapper">
      <header class="c-section-header__title">
        <h4 class="u-margin-right-small">{{ sectionTitle }}</h4>

        <div class="c-section-header__actions-right o-block o-block--right">
          <div class="c-section-header__actions-right o-block o-block--right">
            <a mat-button [routerLink]="['../']">
              <mat-icon class="u-margin-right-tiny">arrow_back</mat-icon>
              Wróć do listy
            </a>
          </div>
        </div>
      </header>
    </div>
  </div>

  <div class="c-section-content" class="u-padding-bottom-huge" style="padding-top: 96px;">
    <div class="o-grid">
      <div class="o-grid__cell">
        <hb-form
          (saveData)="saveData($event)"
          [categories$]="categories$"
          [transactionForm]="transactionForm"></hb-form>
      </div>
    </div>
  </div>

</app-main-component>