<div class="o-grid">
  <div class="o-grid__cell u-1/2">
    <mat-card class="c-plan-project__card">
      <mat-card-content>
        <hb-plan-project-summary
          [dataSource]="dataSource"
          [displayedColumns]="displayedColumns"
          [total]="total"
          (goToDetails)="goToDetails($event)"></hb-plan-project-summary>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="o-grid__cell u-1/2">
    <mat-card class="c-plan-project__card">
      <mat-card-content>
        <!-- <hb-plan-project-graph
          [dataSource]="dataSource"></hb-plan-project-graph> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
