<app-main-component>

  <div class="c-section-header">
    <div class="o-wrapper">
      <header class="c-section-header__title">
        <h4 class="u-margin-right-small">{{ 'TRANSACTIONS.Title' | translate }}</h4>

        <div class="c-section-header__actions-right o-block o-block--right">
          <a mat-button color="green" [routerLink]="['./create']" [queryParams]="{ type: 'income' }">
            <mat-icon class="u-margin-right-tiny">add_circle_outline</mat-icon>
            {{ 'TRANSACTIONS.Actions.AddIncome' | translate }}
          </a>
          <span class="u-border-left u-margin-left-tiny u-margin-right-tiny"></span>
          <a mat-button color="red" [routerLink]="['./create']" [queryParams]="{ type: 'expense' }">
            <mat-icon class="u-margin-right-tiny">remove_circle_outline</mat-icon>
            {{ 'TRANSACTIONS.Actions.AddExpense' | translate }}
          </a>
        </div>
      </header>
    </div>
  </div>

  <div class="c-section-content" class="u-padding-bottom-huge" style="padding-top: 96px;">
    <div class="o-grid">
      <div class="o-grid__cell u-2/3 o-block">
        <div class="c-filters">
          <hb-filters (readTransactions)="readTransactions($event)" style="width: 100%"></hb-filters>
        </div>
      </div>
      <div class="o-grid__cell u-1/3">
        <div class="c-total u-text-large">
          <ng-container *ngIf="total$ | async as total">
            <div class="u-margin-bottom-small">
              <span class="u-margin-right-tiny u-text-small">
                {{ 'TRANSACTIONS.IncomeTotal' | translate }} / {{ 'TRANSACTIONS.ExpenseTotal' | translate }}:
              </span>
              <span [ngClass]="{ 'u-expense1': total.income < 0,'u-income1': total.income > 0.001 }">
                <span class="u-font-weight-bold">{{ total.income | currency:'&nbsp;':'symbol':'1.2-2':'pl' }}</span>
                <span class="u-text-small">&nbsp;/&nbsp;</span>
              </span>
              <span [ngClass]="{ 'u-expense1': total.expense < -0.001,'u-income1': total.expense > 0 }">
                <span class="u-font-weight-bold">{{ total.expense | currency:'&nbsp;':'symbol':'1.2-2':'pl' }}</span>
                <span class="u-text-small">&nbsp;PLN</span>
              </span>
            </div>
            <div>
              <span class="u-margin-right-tiny u-text-small">{{ 'TRANSACTIONS.Total' | translate }}:</span>
              <span [ngClass]="{ 'u-expense': total.all < 0.001,'u-income': total.all > 0.001 }">
                <span class="u-font-weight-bold">{{ total.all | currency:'&nbsp;':'symbol':'1.2-2':'pl' }}</span>
                <span class="u-text-small">&nbsp;PLN</span>
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <hb-data
      [isLoading]="isLoading$ | async"
      [transactions]="transactions$ | async"
      (deleteTransaction)="deleteTransaction($event)"></hb-data>
  </div>


</app-main-component>
