.c-plan-edit-form {
  &__more-data {
    height: 264px;
  }
}

table {
  width: 100%;
}

.mat-column {
  &-incomes,
  &-expenses,
  &-rest,
  &-increase {
    text-align: right;
    justify-content: flex-end;
  }
}

tr.mat-header-row{
  height: 32px;
}
tr.mat-row {
  height: 28px;

  &:hover {
    background-color: #f5f5f5;
  }
}

.background-grey {
  background-color: #f5f5f5;
}

.u-no-border {
  .mat-cell {
    border-bottom-color: transparent;
  }
}

.c-total {
  &__label {
    background-color: #f5f5f5;
  }
}

.u-text-right-align {
  text-align: right;
}

input.u-type-number::-webkit-outer-spin-button,
input.u-type-number::-webkit-inner-spin-button {
  display: none;
}

input.u-type-number {
  -moz-appearance: textfield;
}

::ng-deep .mat-form-field.c-custom-suffix .mat-form-field-suffix {
  top: 0 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
  margin-left: 8px;
}

::ng-deep .mat-dialog-container {
  width: 400px!important;
}

.mat-dialog-actions {
  margin-bottom: -12px;
}

.c-title__separator {
  width: 12px;
  height: 12px;
}

::ng-deep .o-block {
  display: block!important;
  &--left {
    text-align: left!important;
  }
}

.c-actions-separator {
  margin-left: -2px;
}
