<mat-card class="c-plan-project__card">
  <mat-card-content>
    <mat-card-actions align="end" class="u-margin-none u-margin-bottom-small u-padding-none">
      <div>
        <a mat-button color="green" (click)="onAddColumn()">
          <mat-icon class="u-margin-right-tiny">add_circle_outline</mat-icon>
          <span>Dodaj kolumnę</span>
        </a>
      </div>
    </mat-card-actions>
    <table mat-table [dataSource]="dataSource" class="u-margin-bottom">
      <ng-container *ngFor="let column of displayedColumns">
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef class="c-column-text u-padding-right-small" [ngClass]="{
              'c-column-number': column !== 'month',
              'u-border-right': column === 'month' || column === 'total'
            }">
            {{ dataLabels[column] }}</th>
          <td mat-cell *matCellDef="let element" class="c-column-text u-border-right u-padding-right-small" [ngClass]="{
              'c-column-number': column !== 'month',
              'u-border-right': column === 'month' || column === 'total',
              'u-is-loading': isLoading
            }">
            <span *ngIf="column === 'month'">{{ dataLabels[element[column]] }}</span>
            <span *ngIf="column === 'total'">{{ element[column] | number: '.2-2' }}</span>
            <span *ngIf="column !== 'month' || column !== 'total'" class="u-clickme"
              [matTooltip]="element[column]?.notes"
              matTooltipPosition="right"
              [matTooltipDisabled]="!element[column]?.notes"
              (click)="onGoToDetails(element, element[column])"
              (contextmenu)="onEditPlanEntry(element, element[column])"
            >{{ element[column]?.total | number: '.2-2' }}</span>
          </td>
          <td mat-cell *matFooterCellDef class="c-column-text u-border-right u-padding-right-small"
            [ngClass]="{
              'c-column-number': column !== 'month',
              'u-border-right': column === 'month' || column === 'total'
            }">
            <span *ngIf="column === 'month'">{{ dataLabels[dataSourceFooter[column]] }}</span>
            <span *ngIf="column === 'total'">{{ dataSourceFooter[column] | number: '.2-2' }}</span>
            <span *ngIf="column !== 'month' || column !== 'total'" class="u-pointme"
              [matTooltip]="dataSourceFooter[column]?.notes"
              matTooltipPosition="right"
              [matTooltipDisabled]="!dataSourceFooter[column]?.notes"
            >{{ dataSourceFooter[column]?.total | number: '.2-2' }}</span>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index; let last = last"
        [ngClass]="{'u-no-border': (index + 1) % 3 !== 0 }"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"
        class="u-no-border u-pointme" style="font-weight: bold"></tr>
    </table>
  </mat-card-content>
</mat-card>
