<h2 mat-dialog-title>
  Edycja
  <span class="u-margin-left-tiny u-margin-right-tiny">
    <mat-icon class="c-title__separator u-text-tiny">keyboard_arrow_right</mat-icon>
  </span>
  {{ dataLabels[monthControl.value] | titlecase }}
  <span class="u-margin-left-tiny u-margin-right-tiny">
    <mat-icon class="c-title__separator u-text-tiny">keyboard_arrow_right</mat-icon>
  </span>
  {{ dataLabels[entryControl.value] | titlecase }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="o-grid o-grid--auto o-grid--start u-text-normal">
      <div class="o-grid__cell">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{ 'Razem' | titlecase }}</mat-label>
          <input matInput
            formControlName="total"
            type="number"
            onfocus="this.select();"
            class="u-type-number u-text-right-align">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{ 'Notatki' | titlecase }}</mat-label>
          <input matInput
            formControlName="notes">
        </mat-form-field>
        <!-- <div formArrayName="entries">
          <ng-container *ngFor="let control of entries.controls let i = index;">
            <div [formGroupName]="i">
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>{{ control.value.label }}</mat-label>
                <input matInput formControlName="value"
                  type="number"
                  class="u-type-number u-text-right-align">
              </mat-form-field>
            </div>
          </ng-container>
        </div> -->
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null">Anuluj</button>
  <button mat-button (click)="save()">Zapisz</button>
</mat-dialog-actions>
