<h2 mat-dialog-title>
  Edycja
  <span class="u-margin-left-tiny u-margin-right-tiny">
    <mat-icon class="c-title__separator u-text-tiny">keyboard_arrow_right</mat-icon>
  </span>
  {{ dataLabels[monthControl.value] | titlecase }}
  <span class="u-margin-left-tiny u-margin-right-tiny">
    <mat-icon class="c-title__separator u-text-tiny">keyboard_arrow_right</mat-icon>
  </span>
  {{ dataLabels[entryControl.value] | titlecase }}</h2>
<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="o-grid o-grid--auto o-grid--start u-text-normal">
      <div class="o-grid__cell">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{ 'Razem' | titlecase }}</mat-label>
          <input matInput
            formControlName="total"
            type="number"
            onfocus="this.select();"
            class="u-type-number u-text-right-align">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{ 'Notatki' | titlecase }}</mat-label>
          <input matInput
            formControlName="notes">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{ 'Kolejność' | titlecase }}</mat-label>
          <input matInput
            formControlName="order"
            type="number">
        </mat-form-field>
        <div class="o-block o-block--left u-margin-bottom">
          <mat-checkbox
            formControlName="isInTotal">Dodaj do sumy (razem)</mat-checkbox>
        </div>
        <!-- <div formArrayName="entries">
          <ng-container *ngFor="let control of entries.controls let i = index;">
            <div [formGroupName]="i">
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>{{ control.value.label }}</mat-label>
                <input matInput formControlName="value"
                  type="number"
                  class="u-type-number u-text-right-align">
              </mat-form-field>
            </div>
          </ng-container>
        </div> -->
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" style="display: flex">
    <button mat-button color="red" type="button" (click)="delete()">Usuń</button>
    <div class="u-border-right u-margin-right-tiny u-padding-right-tiny">&nbsp;</div>
    <button mat-button type="button" [mat-dialog-close]="null">Anuluj</button>
    <button mat-button type="submit" (click)="save()">Zapisz</button>
  </mat-dialog-actions>
</form>
