.c-login-button,
.c-register-button {
  width: 100% !important;
  min-width: unset !important;
  line-height: 48px;
}

.c-forgot-password-button {
  color: #FF9100;
  font-size: 1.4rem;
  text-decoration: none;
  outline: none;
}
