<form [formGroup]="form" class="c-login u-text-normal" (ngSubmit)="onSubmit()">
  <div class="o-grid o-grid--center">
    <div class="o-grid__cell u-1/3">

      <div class="o-grid">

        <div class="o-grid__cell u-1/1 u-margin-bottom-small">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput type="email" class="u-type-number">
            <mat-error *ngIf="emailControl.invalid && emailControl.touched">{{ getErrorMessageForEmail() }}</mat-error>
          </mat-form-field>
        </div>

        <div class="o-grid__cell u-1/1 o-block o-block--right" style="margin-top: -8px;">
          <a tabindex="-1" class="c-forgot-password-button" href="/reset-password">
            Resetuj hasło</a>
        </div>

        <div class="o-grid__cell u-1/1 u-margin-bottom-small">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Hasło</mat-label>
            <input
              formControlName="password"
              matInput [type]="hide ? 'password' : 'text'"
              #passwordHTML
            >
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Ukryj hasło'"
              [attr.aria-pressed]="'Hasło ukryte'"
            >
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordControl.invalid && passwordControl.touched">{{ getErrorMessageForPassword() }}</mat-error>
          </mat-form-field>
        </div>

        <div class="o-grid__cell u-1/1 u-margin-bottom">
          <button type="submit" mat-raised-button color="primary" class="c-login-button">ZALOGUJ</button>
        </div>
        <div class="o-grid__cell u-1/1">
          <div class="o-block o-block--right">
            <a role="button" mat-button [routerLink]="['../register']" class="c-register-button">NIE MASZ KONTA? IDŹ DO
              REJESTRACJI</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</form>
