<app-main-component>

  <div class="c-section-header">
    <div class="o-wrapper">
      <div class="o-grid o-grid--center">
        <div class="o-grid__cell u-1/3">
          <header class="c-section-header__title">
            <h4 class="u-margin-right-small">Zaloguj</h4>
          </header>
        </div>
      </div>
    </div>
  </div>

  <div class="c-section-content" class="u-padding-bottom-large" style="padding-top: 96px;">
    <div class="o-grid">
      <div class="o-grid__cell">
        <hb-login-form
          (loginUser)="loginUser($event)"
          [loginForm]="loginForm"></hb-login-form>
      </div>
    </div>
  </div>

</app-main-component>