<ng-container *ngIf="user$ | async as user">
  <nav class="c-app-header">
    <ng-container>
      <mat-toolbar color="default" class="c-app-header__toolbar">
        <mat-toolbar-row>
          <a class="u-margin-right-huge" [routerLink]="['/dashboard']">
            <img src="../assets/images/home-budget-horizontal.svg" alt="logo" style="height: 36px;">
          </a>
          <span style="flex-grow: 1;"></span>
          <button class="u-margin-left-tiny" mat-button [routerLink]="['dashboard']" routerLinkActive="u-router-link-active">
            <mat-icon class="u-margin-right-tiny">dashboard</mat-icon>Dashboard</button>
          <button class="u-margin-left-tiny" mat-button [routerLink]="['transactions']" routerLinkActive="u-router-link-active">
            <mat-icon class="u-margin-right-tiny">list_alt</mat-icon>Transakcje</button>
          <button class="u-margin-left-tiny" mat-button [routerLink]="['settings']" routerLinkActive="u-router-link-active">
            <mat-icon class="u-margin-right-tiny">tune</mat-icon>Ustawienia</button>
          <div class="u-border-left u-margin-left-tiny" style="width:1px">&nbsp;</div>
          <button class="u-margin-left-tiny" mat-button color="primary" [matMenuTriggerFor]="userMenu" >
            <mat-icon style="margin-right: 16px;" >account_circle</mat-icon>
            {{ user.email }}
          </button>
          <mat-menu #userMenu="matMenu">
            <!-- <button mat-menu-item>
              <mat-icon>tune</mat-icon>
              <span>Ustawienia profilu</span>
            </button>
            <mat-divider></mat-divider> -->
            <button mat-menu-item (click)="onLogout()">
              <mat-icon>lock</mat-icon>
              <span>Wyloguj</span>
            </button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
    </ng-container>
  </nav>
</ng-container>