@if (user$ | async; as user) {
  <nav class="c-app-header">
    @if (windowSize$ | async; as windowSize) {
      <mat-toolbar color="default" class="c-app-header__toolbar">
        <mat-toolbar-row>
          <a class="u-margin-right" [routerLink]="['/plans']">
            <img src="../assets/images/home-budget-horizontal.svg" alt="logo" style="height: 36px;">
          </a>
          @if (year$ | async; as year) {
            @if (years$ | async; as years) {
              <ul class="c-year-menu">
                @for (y of years; track y) {
                  <li>
                    <button mat-button [color]="year === y ? 'primary' : 'default'"
                      type="button" [ngStyle]="{ 'pointer-events': year === y ? 'none' : 'all' }"
                      (click)="setYear(y)">{{ y }}</button>
                  </li>
                }
              </ul>
            }
          }
          <span style="flex-grow: 1;"></span>
          @if (windowSize === 'desktop') {
            <button class="u-margin-left-tiny"
              mat-button
              [routerLink]="['plans']"
              routerLinkActive="u-router-link-active">
              <mat-icon class="u-margin-right-tiny">analytics</mat-icon>
              {{ 'HEADER.Plan' | translate }}
            </button>
            <button class="u-margin-left-tiny"
              mat-button
              [routerLink]="['budgets']"
              routerLinkActive="u-router-link-active">
              <mat-icon class="u-margin-right-tiny">account_balance_wallet</mat-icon>
              {{ 'HEADER.Budget' | translate }}
            </button>
            <div class="u-border-left u-margin-left-tiny u-margin-right-small" style="height:24px; width:1px;">&nbsp;</div>
            <mat-icon class="u-margin-right-tiny" style="color: rgba(0,0,0,0.54);">account_circle</mat-icon>
            <span class="u-text-small" style="color: rgba(0,0,0,0.54);">{{ user.displayName || user.email }}</span>
            <button class="u-margin-left-tiny" mat-button (click)="onLogout()">
              <mat-icon class="u-margin-right-tiny">lock</mat-icon>
              {{ 'HEADER.Logout' | translate }}
            </button>
          }
          @if (windowSize === 'mobile') {
            <button class="u-margin-left-tiny" mat-icon-button color="primary" [matMenuTriggerFor]="userMenu">
              <mat-icon>menu</mat-icon>
            </button>
          }
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item [routerLink]="['plans']" routerLinkActive="u-router-link-active">
              <mat-icon>analytics</mat-icon>
              {{ 'HEADER.Plan' | translate }}
            </button>
            <button mat-menu-item [routerLink]="['budgets']" routerLinkActive="u-router-link-active">
              <mat-icon>account_balance_wallet</mat-icon>
              {{ 'HEADER.Budget' | translate }}
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item style="pointer-events: none;">
              <mat-icon>account_circle</mat-icon>
              {{ user.displayName || user.email }}
            </button>
            <button mat-menu-item (click)="onLogout()">
              <mat-icon>lock</mat-icon>
              <span>{{ 'HEADER.Logout' | translate }}</span>
            </button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
    }
  </nav>
}
