<app-main-component>

  <div class="c-section-header">
    <div class="o-wrapper">
      <header class="c-section-header__title">
        <h4>{{ 'PLAN.Title' | translate }}</h4>
        <div class="u-margin-left u-border-left u-text-large">&nbsp;</div>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false" mat-align-tabs="end">
          @for (link of navLinks; track link.index) {
            <a mat-tab-link
              routerLinkActive
              #rla="routerLinkActive"
              [active]="rla.isActive"
              [routerLink]="link.href"
            >{{ link.label }}</a>
          }
        </nav>
        <div class="u-padding-right-small u-margin-right-small u-border-right u-text-large">&nbsp;</div>
        <hb-plan-breadcrumbs></hb-plan-breadcrumbs>
      </header>
    </div>
  </div>

  <mat-tab-nav-panel #tabPanel>
    <div class="c-section-content" class="u-padding-top-huge">
      <router-outlet></router-outlet>
    </div>
  </mat-tab-nav-panel>

</app-main-component>
