<app-main-component>

  <div class="c-section-header">
    <div class="o-wrapper">
      <header class="c-section-header__title">
        <h4>{{ 'PLAN.Title' | translate }}</h4>
        <div class="u-margin-left u-border-left u-text-large">&nbsp;</div>
        <nav  mat-tab-nav-bar mat-stretch-tabs="false" mat-align-tabs="end">
          <a mat-tab-link
            *ngFor="let link of navLinks"
            routerLinkActive="u-router-link-active"
            [routerLink]="link.link"
          >{{ link.label }}
          </a>
        </nav>
        <div class="u-padding-left-small u-margin-left-small u-border-left u-text-large">&nbsp;</div>
        <ng-container *ngIf="breadcrumbsState$ | async as breadcrumbs" >
          <!-- <div *ngIf="breadcrumbs.length" class="u-margin-right-tiny" style="display: inline-flex;">
            <mat-icon>keyboard_double_arrow_right</mat-icon>
          </div> -->
          <nav class="u-text-tiny">
            <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last;">
              <span>{{ breadcrumb }}</span><span *ngIf="!last" class="u-padding-left-tiny u-padding-right-tiny">/</span>
            </ng-container>
          </nav>
        </ng-container>
      </header>
    </div>
  </div>

  <div class="c-section-content" class="u-padding-bottom-huge" style="padding-top: 96px;">
    <router-outlet></router-outlet>
  </div>

</app-main-component>
