<app-main-component>

  <div class="c-section-header">
    <div class="o-wrapper">
      <header class="c-section-header__title">
        <h4 class="u-margin-right-small">{{ 'PLAN.Title' | translate }}</h4>
      </header>
    </div>
  </div>

  <div class="c-section-content" class="u-padding-bottom-huge" style="padding-top: 96px;">
    <div class="o-grid">
      <div class="o-grid__cell u-1/1 o-block">
        <div class="c-filters">
        </div>
      </div>

    </div>

  </div>


</app-main-component>
